{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}

    <form action="/register" name="register" id="reg-form" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="E-mail address.." type="text" onkeyup="checkFields();">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password..." type="password" onkeyup="checkFields();">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password..." type="password" onkeyup="checkFields();">
        </div>
        <input class="btn btn-primary" name="submit" type="submit" value="Sign-up" disabled>
    </form>
    <script src="/static/register.js"></script>
{% endblock %}
