<!DOCTYPE html>

<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Styles n that -->
        <link href="../static/css/main.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/soccer-ball/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
        <link rel="manifest" href="/static/img/fav/site.webmanifest">

        <!-- icons from fontawesome -->    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script type = "text/javascript" src="../static/js/lib/bootstrap/bootstrap.min.js"></script>

        <title>ChampGaffer</title>

    </head>
    <body>

        <nav class="navbar navbar-expand-md .navbar-inverse bg-dark">
            <a class="navbar-brand" href="/"><span class="code"> &lt; </span><span class="blue">ChampGaffer</span><span class="code"> &#47;&gt; </span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Office.</a></li>
                        <li class="nav-item"><a class="nav-link" href="/transfers">Transfers.</a></li>
                        <li class="nav-item"><a class="nav-link" href="/matchday">Matchday.</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tables">Tables.</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History.</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out>></a></li>
                    </ul>
            </div>
        </nav>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="window">
                        <div class="title-bar">
                        <div class="title-bar-text">A Window With Stuff In It</div>
                        <div class="title-bar-controls">
                            <button aria-label="Minimize"></button>
                            <button aria-label="Maximize"></button>
                            <button aria-label="Close"></button>
                        </div>
                        </div>
                        <div class="window-body">
                            <p>{{ test }}</p>
                            <table>
                                <tr>
                                    <th>Company</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                </tr>
                                <tr>
                                    <td>Alfreds Futterkiste</td>
                                    <td>Maria Anders</td>
                                    <td>Germany</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>