{% extends "layout.html" %}

{% block title %}
    Office.
{% endblock %}

{% block main %}
<style>
    .card-header, .modclick, .clubTitle, .clubOvr,
    .table-hover tbody tr:hover,
    .table-hover tbody tr:hover {
        background: {{ managerStats['primary'] }}; 
        color: {{ managerStats['secondary'] }};
        transition: background ease-in 0.2s;
        z-index: 0;
    }  

    .sticker::before {
        background-image: linear-gradient(to bottom right, {{ managerStats['primary'] }}, {{ managerStats['secondary'] }});
        background-size: cover;
    }

    .table-hover tbody tr {
        transition: background ease-out 0.2s;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="clubTitle">
                <h1>{{ managerStats['clubname'] }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-6">
            <div class="clubOvrCont">
                <p class="clubOvr" style="width:{{ managerStats['clubovr'] * 5 }}%;">Ovr: {{ managerStats['clubovr'] }} / 20</p>
            </div>
        </div>
        <div class="col-6 col-md-6">
            {% if managerStats['pos'] > 10 %}
                {% set league = 'Sub League' %}
                {% set leagueClass = "subLeague" %}
                {% set pos = managerStats['pos'] - 10 %}
            {% else %}
                {% set league = 'Super League' %}
                {% set leagueClass = "superLeague" %}
                {% set pos = managerStats['pos'] %}
            {% endif %}
            <div class="clubOvrCont">
                <p class="{{ leagueClass }}">#{{ pos }} — {{ league }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="windowfy">
                <div class="window">
                    <div class="title-bar">
                    <div class="title-bar-text">Me-Mail — {{ email }}</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                    </div>
                    <div class="window-body">
                        <h3 id="result"></h3>
                        <h3 class="eBrand">&#x1F4EC <h5 class="eBrand">Me<span class="red">-</span>m</span><span class="blue">@</span>il</h5></h3>
                        <table>
                            <tr>
                                <th><i class="fas fa-inbox"></i></th>
                                <th>From:</th>
                                <th>Subject:</th>
                            </tr>
                            {% for mail in getEmails %}
                                {% if mail['read'] == 0 %}
                                    {% set weight = "bold" %}
                                    {% set icon = "fa-envelope" %}
                                {% else %}
                                    {% set weight = "normal" %}
                                    {% set icon = "fa-envelope-open" %}
                                {% endif %}
                                <tr class="clickRow" id="eRow{{ mail['news_id'] }}" style="font-weight: {{ weight }};" data-toggle="modal" data-target="#newsModal" onclick="showEmail({{ mail }})" tr>
                                    <td id="ricon{{ mail['news_id'] }}"><i class='far {{ icon }}'></i></td>
                                    <td>{{ mail['sender'] }}</td>
                                    <td>{{ mail['subject'] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="windowfy">
                <div class="window">
                    <div class="title-bar">
                    <div class="title-bar-text">Upcoming Fixtures</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                    </div>
                    <div class="window-body">
                        <h3 class="eBrand">&#x1F4C5 <h5 class="eBrand">Fixtures</h5></h3>
                        <table>
                            {% for fixture in getFixtures %}
                                <tr class="fixtures">
                                    <td>{{ fixture['home'] }} vs. {{ fixture['away'] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card">
                <h5 class="card-header">{{ managerStats['managername'] }}</h5>
                <div class="sticker">
                    <div class="avatar-holder">
                        <h4 class="clubTitle" style="width: auto; height: 20px; float: right; margin: 5px;font-size: small;">MANAGER</h4>
                        <img class="card-img-top" src="https://avatars.dicebear.com/v2/male/{{ managerStats['managername'] }}.svg" alt="Card image cap">
                    </div>
                </div>
                <h5 class="card-header">{{ managerStats['clubname'] }}</h5> 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age: {{ managerStats['managerage'] }}</li>
                    <li class="list-group-item">Board Confidence: {{ managerStats['confidence'] }}%</li>
                    <li class="list-group-item">Budget: £{{ managerStats['budget'] }}m</li>
                    <li class="list-group-item">Club Rank: {{ managerStats['clubrank'] }}</li>
                    <li class="list-group-item">Club Rating: {{ managerStats['clubovr'] }}</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card">
                <h5 class="card-header">{{ starAtt['playername'] }}</h5>
                <div class="sticker">
                    <div class="avatar-holder">
                        <img src="static/img/flags/{{ starAtt['flag'] }}" style="width:30px; height=20px; margin:5px;"/>
                        <h4 class="clubTitle" style="width: auto; height: 20px; float: right; margin: 5px;font-size: small;">&#x2B50; ATT</h4>
                        <img class="card-img-top" src="https://avatars.dicebear.com/v2/male/{{ starAtt['playername'] }}.svg" alt="Card image cap">
                    </div>
                </div>
                <h5 class="card-header">{{ managerStats['clubname'] }}</h5> 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age: {{ starAtt['playerage'] }}</li>
                    <li class="list-group-item">Nationality: {{ starAtt['nationality'] }}</li>
                    <li class="list-group-item">Value: {{ starAtt['value'] }}</li>
                    <li class="list-group-item">Rating: {{ starAtt['ovr'] }}</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card">
                <h5 class="card-header">{{ starDef['playername'] }}</h5>
                <div class="sticker">
                    <div class="avatar-holder">
                        <img src="static/img/flags/{{ starDef['flag'] }}" style="width:30px; height=20px; margin:5px;"/>
                        <h4 class="clubTitle" style="width: auto; height: 20px; float: right; margin: 5px;font-size: small;">&#x2B50; DEF</h4>
                        <img class="card-img-top" src="https://avatars.dicebear.com/v2/male/{{ starDef['playername'] }}.svg" alt="Card image cap">
                    </div>
                </div>
                <h5 class="card-header">{{ managerStats['clubname'] }}</h5> 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age: {{ starDef['playerage'] }}</li>
                    <li class="list-group-item">Nationality: {{ starDef['nationality'] }}</li>
                    <li class="list-group-item">Value: {{ starDef['value'] }}</li>
                    <li class="list-group-item">Rating: {{ starDef['ovr'] }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nat</th>
                    <th>Pos</th>
                    <th>Player</th>
                    <th>Age</th>
                    <th>Ovr</th>
                    <th>Goals</th>
                </tr>
            </thead>
            <tbody>
                {% for player in getPlayers %}
                    <tr class="clickRow" data-toggle="modal" data-target="#playerModal" onclick="showPlayer({{ player }})">
                        
                        <td><img src="static/img/flags/{{ player['flag'] }}" width="30px" height="20px"/></td>
                        <td>{{ player["pos"] }}</td>
                        <td>{{ player["name"] }}</td>
                        <td>{{ player["age"] }}</td>
                        <td><div style="width: 100%; height: 50%; border: solid 1px grey;"><div style="font-size: small;height: 100%; width:{{ player['ovr'] * 5 }}%; background: {{ managerStats['primary']}}; color: {{ managerStats['secondary'] }}">{{ round(player["ovr"]) }}</div></div></td>
                        <td>{{ player["goals"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsItem" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="windowfy">
                    <div class="window">
                        <div class="title-bar">
                        <div class="title-bar-text" id="eTitle"></div>
                        <div class="title-bar-controls">
                            <button aria-label="Minimize"></button>
                            <button aria-label="Maximize"></button>
                            <button aria-label="Close" data-dismiss="modal"></button>
                        </div>
                        </div>
                        <div class="window-body">
                            <table>
                                <tr>
                                    <td>From: </td><td id="from"></td>
                                </tr>
                                <tr>
                                    <td>To: </td><td id="to">{{ email }}</td>
                                </tr>
                                <tr>
                                    <td>Subject: </td><td id="subject"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="body" style="white-space: pre-line"></td>
                                </tr>
                            </table>
                            <div class=field-row>
                                <p id="offertext" style="font-weight: bold; display: none;">
                                    This transfer offer has expired.
                                </p>
                            </div>
                            <div class=field-row>
                                <button data-dismiss="modal" aria-label="Close" id="closeMail">Close</button>
                                <button id="sell" style="display: none;">Sell</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="playerCard" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-header" id="name"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="sticker">
                                <div class="avatar-holder">
                                    <img id="plNat" src="" style="width:30px; height=20px; margin:5px;"/>
                                    <img class="card-img-top" id="plImg" src="https://avatars.dicebear.com/v2/male/placeholder.svg" alt="Card image">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-header">{{ managerStats['clubname'] }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="playerAttTable">
                                <tbody>
                                    <tr>
                                        <td>Age: </td><td id="age"></td>
                                        <td>Nationality</td></ts><td id="nat"></td>
                                    </tr>
                                    <tr>
                                        <td>Potential: </td><td id="pot"></td>
                                        <td>Value</td><td id="val"></td>
                                    </tr>
                                    <tr>
                                        <td>Speed:</td><td id="spd"></td>
                                        <td>Strength:</td><td id="str"></td>
                                    </tr>
                                    <tr></tr>
                                        <td>Handsomeness: </td><td id="han"></td>
                                        <td>Overall: </td><td id="rat"></td>
                                    </tr> 
                                </tbody>
                            </table>     
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary modclick" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary modclick" id="release">Release Player</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/sell" id="releaseform" method="post" style="display: none;">
    <input name="pl_id" id="pl_id">
    <input name="cl_id" id="cl_id">
    <input name="cl_name" id="cl_name">
    <input name="pl_cost" id="pl_cost">
</form>
<form action="/sell" id="sellform" method="post" style="display: none;">
    <input name="pl_id" id="pl_id">
    <input name="cl_id" id="cl_id">
    <input name="pl_cost" id="pl_cost">
</form>
<script>
    function showEmail(obj) {

        var sender = obj['sender'];
        var subject = obj['subject'];
        var read = obj['read'];
        var msg_id = obj['message_id'];
        var offer = obj['offer']

        $(document).find('#eTitle').text(`${sender} — ${subject}`);
        $(document).find('#from').text(sender);
        $(document).find('#subject').text(subject);
        $(document).find('#body').text(obj['body']);

        $('#newsModal').on('show.bs.modal', function (event) {
            if (read == 0) {
                form = document.createElement("form");
                form.method = "post";
                form.action = "/read";
                form.setAttribute("id", "read");
                form.setAttribute("style", "display:none;")
                input = document.createElement("input");
                input.setAttribute("name", "rstatus");
                input.setAttribute("value", 1);
                form.appendChild(input);
                input2 = document.createElement("input");
                input2.setAttribute("name", "mail_id");
                input2.setAttribute("value", obj["news_id"]);
                form.appendChild(input2);
                document.body.appendChild(form)
                $.ajax({
                    url : "/read",
                    data : $('#read').serialize(),
                    type : 'POST',
                    success: function(response) {
                        console.log(response);
                        read = 1;
                        document.getElementById(`ricon${obj['news_id']}`).innerHTML = "<i class='far fa-envelope-open'>";
                        document.getElementById(`eRow${obj['news_id']}`).style.fontWeight = "normal";
                        form.remove();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
             }
        });
        if (msg_id > 3 && msg_id < 7) {
            if (read === 0) {
                document.getElementById("sell").style.display = "inline-block";
                document.getElementById("closeMail").textContent = "Reject";
                document.getElementsByName("pl_id")[1].value = obj['player_id'];
                document.getElementsByName("cl_id")[1].value = obj['club_id'];
                document.getElementsByName("pl_cost")[1].value = obj['offer'];

                var sellform = document.getElementById('sellform');
                

                // Unbind any previously cancelled events and fire confirmation message
                $(document).off('click', '#sell').on('click', '#sell', function (event) {
                    if (!confirm("Are you sure you want to sell this player?")) {
                        sellform.reset();
                        return false;
                    }
                    else {
                        console.log(document.getElementsByName("pl_cost"))
                        sellform.submit();
                        return true;
                    }
                });
            }
            else {
                document.getElementById("sell").style.display = "none";
                document.getElementById("offertext").style.display = "inline-block";
            }
        }
        else {
            document.getElementById("sell").style.display = "none";
            document.getElementById("offertext").style.display = "none";
            document.getElementById("closeMail").textContent = "Cancel";
        }
    }

    function showPlayer(data) {
        $("#plImg").attr("src",`https://avatars.dicebear.com/v2/male/${data['name']}.svg`);
        $("#plNat").attr("src",`static/img/flags/${data['flag']}`);
        $(document).find('#name').text(`${data['name']} — ${data['pos']}`);
        $(document).find('#age').text(`${data['age']}`);
        $(document).find('#nat').text(`${data['nationality']}`);
        $(document).find('#val').text(`£${data['value']}M`);
        $(document).find('#rat').text(`${data['ovr']}`);
        $(document).find('#spd').text(`${data['speed']}`);
        $(document).find('#str').text(`${data['strength']}`);
        $(document).find('#pot').text(`${data['potential']}`);
        $(document).find('#han').text(`${data['handsomeness']}`);

        $('#playerModal').on('show.bs.modal', function (event) {

            var cost = (data['value'] * 0.1).toFixed(2);
            var msg = `Release ${data['name']}? £${cost}m will be added to the transfer budget in saved wages.`;

            document.getElementsByName("pl_id")[0].value = data['player_id'];
            document.getElementsByName("cl_id")[0].value = 21;
            document.getElementsByName("cl_name")[0].value = "Free Agents";
            document.getElementsByName("pl_cost")[0].value = cost;

            var releaseform = document.getElementById('releaseform');

            // Unbind any previously cancelled events and fire confirmation message
            $(document).off('click', '#release').on('click', '#release', function (event) {
                    if (!confirm(msg)) {
                        return false;
                    }
                    else {
                        releaseform.submit();
                        return true;
                    }
            });
        });
    }

</script>
{% endblock %}