{% extends "layout.html" %}

{% block title %}
    Matchday.
{% endblock %}

{% block main %}
<style>
    .oppLineup th, 
    .table-hover tbody tr.oppRow:hover,
    .table-hover tbody tr.oppRow:hover {
        border: none;
        {% if opponent['primary_colour'] != 'white' %}
            background-color: {{ opponent['primary_colour']}};
            color: {{ opponent['secondary_colour'] }};
        {% else %}
            background-color: {{ opponent['secondary_colour']}};
            color: {{ opponent['primary_colour'] }};
        {% endif %}
    }
</style>
<div class="containter">
    <div class="row">
        <div class="col-6 col-md-6">
            <table id="userColors" class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>{{ clubName }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(squadSize) %}
                    {% if i < 11 %}
                        {% set num = i + 1%}
                    {% else %}
                        {% set num = "SUB" %}
                    {% endif %}
                    <tr id="lineup">
                        <td>{{ num }}</td>
                        <td class="drag" draggable="true"><img src="static/img/flags/{{squad[i]['flag']}}" style="max-width:17px; max-height=10px; margin:5px;"/>{{ squad[i]["pos"] }}: {{ squad[i]["name"] }} ({{ squad[i]['ovr'] }})<input type="hidden" value="{{ squad[i] }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn-primary" id="#update" onclick="update()">Update lineup</button>
        </div>
        <div class="col-6 col-md-6">
            <table class="table table-hover">
                <thead class="oppLineup">
                    <tr>
                        {% if opponent['pos'] > 10 %}
                            {% set pos = opponent['pos'] - 10 %}
                        {% else %}
                            {% set pos = opponent['pos'] %}
                        {% endif %}
                        {% if pos > 3 %}
                            {% set opSuffix = "th" %}
                        {% elif pos > 2 %}
                            {% set opSuffix = "rd" %}
                        {% elif pos > 1 %}
                            {% set opSuffix = "nd" %}
                        {% else %}
                            {% set opSuffix = "st" %}
                        {% endif %}
                        <th>#</th>
                        <th><a id="clubLink" style="color: inherit;">{{ opponent["club_name"] }} ({{ pos }}{{ opSuffix }})</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(oppSquadSize) %}
                    {% if i < 11 %}
                        {% set num = i + 1%}
                    {% else %}
                        {% set num = "SUB" %}
                    {% endif %}
                    <tr class="oppRow">
                        <td>{{ num }}</td>
                        <td><img src="static/img/flags/{{opponentSquad[i]['flag']}}" style="max-width:17px; max-height=10px; margin:5px;"/>{{ opponentSquad[i]["pos"] }}: {{ opponentSquad[i]["name"] }} ({{ opponentSquad[i]['ovr'] }})<input type="hidden" value="{{ opponentSquad[i] }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="formation--main">
                <div class="formation--field formation--section">
                    <div class="player player-ten"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-nine"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-eight"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-seven"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-six"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-five"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-four"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-three"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-two"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-one"><img class="plImg" src=""><p class="plName"></p></div>
                    <div class="player player-goalkeeper"><img class="plImg" src=""><p class="plName"></p></div>
                </div>
                <div class="formation--section">
                    <p>Choose formation:</p>
                    <div class="formation--choice">
                        <label for="442" onClick="check();">
                            <input checked type="radio" id="442" name="formation" value="4-4-2">
                            <span>4-4-2</span>
                        </label>
                        <label for="433" onClick="check();">
                            <input type="radio" id="433" name="formation" value="4-3-3">
                            <span>4-3-3</span>
                        </label>
                        <label for="451" onClick="check();">
                            <input type="radio" id="451" name="formation" value="4-5-1">
                            <span>4-5-1</span>
                        </label>
                        <label for="343" onClick="check();">
                            <input type="radio" id="343" name="formation" value="3-4-3">
                            <span>3-4-3</span>
                        </label>
                        <label for="352" onClick="check();">
                            <input type="radio" id="352" name="formation" value="3-5-2">
                            <span>3-5-2</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="formation--main">
                <div class="formation--field formation--section">
                    <div class="opponent player-ten"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-nine"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-eight"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-seven"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-six"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-five"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-four"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-three"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-two"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-one"><img class="oppImg" src=""><p class="oppName"></p></div>
                    <div class="opponent player-goalkeeper"><img class="oppImg" src=""><p class="oppName"></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <button id="proceed" onclick="toMatch()" type="button" class="btn btn-primary btn-lg btn-block"><span class="code"> &#x26BD &nbsp</span>Proceed<span class="code"> &#x26BD &nbsp</span></button>
        </div>
    </div>
</div>
<script type = "text/javascript" src="/static/js/lineup.js"></script>
<script type = "text/javascript" src="/static/js/formation.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var club_link = {{opponent['club_name'] | tojson }}.replace(" ", "_");
        var oppForm = {{ opponent['formation'] | tojson }};
        var oppPlayers = {{ opponentSquad | tojson }};
        var count = 10;
        $(document).find('#clubLink').attr("href", `/${club_link}`);
        console.log(club_link)
        $('.oppImg').each(function (){
            $(this).attr("src",`https://avatars.dicebear.com/v2/male/${oppPlayers[count]['name']}.svg`);
            $(this).next().text(`${count + 1}: ${oppPlayers[count]['name']}`);
        count--;
        })
        opponentShape(oppForm);
    }, false);

    var  starters, squad;
    function update() {
        starters = [];
        squad = [];
        $('.drag input').each(function(){
            var curPlayer = JSON.parse($(this).val().replace(/['']+/g, '"'))
            if (starters.length < 11) {
                starters.push(curPlayer);
                squad.push(curPlayer);
            }
            else {
                squad.push(curPlayer)
            }   
        })
        var count = 10;
        $('.plImg').each(function (){
            $(this).attr("src",`https://avatars.dicebear.com/v2/male/${starters[count]['name']}.svg`);
            $(this).next().text(`${count + 1}: ${starters[count]['name']}`);
        count--;
        })
    };

    function toMatch() {
        var radios = document.getElementsByName('formation')
        for(i = 0; i < radios.length; i++) { 
                if(radios[i].checked) 
                        var radioCheck = radios[i].value;
        } 

        var selection = JSON.stringify(squad)

        var form = document.createElement("form");
        form.method = "post";
        form.action = "/match";
        form.setAttribute("id", "toMatch");
        form.setAttribute("style", "display:none;")
        var input = document.createElement("input");
        input.setAttribute("name", "selection");
        input.setAttribute("value", selection);
        form.appendChild(input);
        var input2 = document.createElement("input");
        input2.setAttribute("name", "shape");
        input2.setAttribute("value", radioCheck);
        form.appendChild(input2)
        document.body.appendChild(form)
        form.submit();
    };
</script>

{% endblock %}