<script>
    document.addEventListener('DOMContentLoaded', load);
</script>

<div class="card" id="playerdata">
    <h5 class="modal-title"></h5>
    <div class="sticker">
        <div class="avatar-holder">
            <img class="card-img-top" src="https://avatars.dicebear.com/v2/male/placeholder.svg" alt="Card image">
        </div>
    </div>
    <h5 class="card-header" id="titlehere">placeholder</h5> 
    <div class="card-body">  
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: </li>
            <li class="list-group-item">Nationality: </li>
            <li class="list-group-item">Value: </li>
            <li class="list-group-item">Rating: </li>
        </ul>
    </div>
</div>