{% extends "layout.html" %}

{% block title %}
    Standings.
{% endblock %}

{% block main %}
<div class="container">
        <div class="row justify-content-start">
            <h3>Sparkley's Super League</h3>
        </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    <th>Pld</th>
                    <th>GS</th>
                    <th>GC</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                {% for club in getStandings %}
                    {% if club['pos'] < club['pos_track'] %}
                        {% set arrow = "fa-caret-up" %}
                    {% elif club['pos'] == club['pos_track'] %}
                        {% set arrow = "fa-minus" %}
                    {% else %}
                        {% set arrow = "fa-caret-down" %}
                    {% endif %}
                    {% if club['pos'] == 1 %}
                        {% set class = "borderup promotion" %}
                    {% elif club['pos'] == 8 %}
                        {% set class = "borderdown" %}
                    {% elif club['pos'] > 8 %}
                        {% set class = "relegation" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    {% if club['club_name'] == "new_user" %}
                        {% set clubName = userTeam %}
                    {% else %}
                        {% set clubName = club['club_name']%}
                    {% endif %}
                    {% if club['rank'] < 11 %}
                        <tr class="{{ class }}">
                            
                            <td>{{ club['pos'] }}</td>
                            <td><i class="fas {{ arrow }}"></i></td>
                            <td>{{ clubName }}</td>
                            <td>{{ club['pld'] }}</td>
                            <td>{{ club['gs'] }}</td>
                            <td>{{ club['ga'] }}</td>
                            <td>{{ club['gd'] }}</td>
                            <td>{{ club['pts'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-start">
        <h3>SeaPower Sub League</h3>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    <th>Pld</th>
                    <th>GS</th>
                    <th>GC</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                {% for club in getStandings %}
                    {% if club['pos'] < club['pos_track'] %}
                        {% set arrow = "fa-caret-up" %}
                    {% elif club['pos'] == club['pos_track'] %}
                        {% set arrow = "fa-minus" %}
                    {% else %}
                        {% set arrow = "fa-caret-down" %}
                    {% endif %}
                    {% if club['pos'] == 11 %}
                        {% set class = "promotion" %}
                    {% elif club['pos'] == 12 %}
                        {% set class = "borderup promotion" %}
                    {% elif club['pos'] == 19 %}
                        {% set class = "borderdown" %}
                    {% elif club['pos'] == 20  %}
                        {% set class = "relegation" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    {% if club['club_name'] == "new_user" %}
                        {% set clubName = userTeam %}
                    {% else %}
                        {% set clubName = club['club_name'] %}
                    {% endif %}
                    {% if club['rank'] > 10 %}
                        <tr class="{{ class }}">
                            
                            <td>{{ club['pos'] - 10 }}</td>
                            <td><i class="fas {{ arrow }}"></i></td>
                            <td>{{ clubName }}</td>
                            <td>{{ club['pld'] }}</td>
                            <td>{{ club['gs'] }}</td>
                            <td>{{ club['ga'] }}</td>
                            <td>{{ club['gd'] }}</td>
                            <td>{{ club['pts'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}