{% extends "layout.html" %}

{% block title %}
    Standings.
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="clubTitle superLeague">
                <h1>Sparkley's Super League</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    <th>Pld</th>
                    <th>GS</th>
                    <th>GC</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                {% for club in getStandings %}
                    {% if club['pos'] < club['pos_track'] %}
                        {% set arrow = "fa-caret-up" %}
                    {% elif club['pos'] == club['pos_track'] %}
                        {% set arrow = "fa-minus" %}
                    {% else %}
                        {% set arrow = "fa-caret-down" %}
                    {% endif %}
                    {% if club['pos'] == 1 %}
                        {% set class = "borderup promotion" %}
                    {% elif club['pos'] == 8 %}
                        {% set class = "borderdown" %}
                    {% elif club['pos'] > 8 %}
                        {% set class = "relegation" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    {% if club['club_name'] == "new_user" %}
                        {% set clubName = userTeam %}
                    {% else %}
                        {% set clubName = club['club_name']%}
                    {% endif %}
                    {% if club['rank'] < 11 %}
                        <tr class="clickRow {{ class }}" onclick="viewClubPage({{ club }})">
                            
                            <td>{{ club['pos'] }}</td>
                            <td><i class="fas {{ arrow }}"></i></td>
                            <td>{{ clubName }}</td>
                            <td>{{ club['pld'] }}</td>
                            <td>{{ club['gs'] }}</td>
                            <td>{{ club['ga'] }}</td>
                            <td>{{ club['gd'] }}</td>
                            <td>{{ club['pts'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-12 col-md-12">
            <div class="clubTitle subLeague">
                <h1>SeaPower Sub League</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    <th>Pld</th>
                    <th>GS</th>
                    <th>GC</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                {% for club in getStandings %}
                    {% if club['pos'] < club['pos_track'] %}
                        {% set arrow = "fa-caret-up" %}
                    {% elif club['pos'] == club['pos_track'] %}
                        {% set arrow = "fa-minus" %}
                    {% else %}
                        {% set arrow = "fa-caret-down" %}
                    {% endif %}
                    {% if club['pos'] == 11 %}
                        {% set class = "promotion" %}
                    {% elif club['pos'] == 12 %}
                        {% set class = "borderup promotion" %}
                    {% elif club['pos'] == 19 %}
                        {% set class = "borderdown" %}
                    {% elif club['pos'] == 20  %}
                        {% set class = "relegation" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    {% if club['club_name'] == "new_user" %}
                        {% set clubName = userTeam %}
                    {% else %}
                        {% set clubName = club['club_name'] %}
                    {% endif %}
                    {% if club['rank'] > 10 %}
                        <tr class="clickRow {{ class }}" onclick="viewClubPage({{ club }})">
                            
                            <td>{{ club['pos'] - 10 }}</td>
                            <td><i class="fas {{ arrow }}"></i></td>
                            <td>{{ clubName }}</td>
                            <td>{{ club['pld'] }}</td>
                            <td>{{ club['gs'] }}</td>
                            <td>{{ club['ga'] }}</td>
                            <td>{{ club['gd'] }}</td>
                            <td>{{ club['pts'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function viewClubPage(club) {
        var club_link = club['club_name'].replace(" ", "_")
        window.location.replace(`/${club_link}`);
    }
</script>
{% endblock %}